.updates{
    width: 85%;
    background: white;
    border-radius: .7rem;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    font-size: 13px;
}

.update{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.update img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-size: cover;
}

.update .items{
    display: flex;
    flex-direction: column;
}

.update .items p span{
    font-weight: bold;
}

@media screen and (max-width: 768px){
    
}