.dashBoard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

@media screen and (max-width: 1200px){

    .dashBoard{
        justify-content: flex-start;
        margin-top: 2rem;
    }
}

@media screen and (max-width: 768px){
    .dashBoard{
        align-items: center;
    }
}